:root {
  --width: 0%;
}

.Content {
  @apply container px-6 py-3 mx-auto flex justify-between items-center;
}

.top-bar:before {
  background-image: url(https://1.bp.blogspot.com/-gxsOcYWghHA/Xp_izTh4sFI/AAAAAAAAU8s/y637Fwg99qAuzW9na_NT_uApny8Vce95gCEwYBhgL/s1600/header-footer-gradient-bg.png);
}
.top-bar:before {
  content: "";
  display: block;
  width: var(--width);
  height: 4px;
  background-repeat: repeat-x;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
